#  Sources: Multiple Files . Target: Database

To read all files from a particular folder and then store into database table.

## Case Study 1: 
![alt text](case1.jpg "Case 1: Sources: Multiple Files . Target: Database")


## Solution
We can build a Python program with the following steps
* read a list of files on a certain folder
* read a content of file from Pandas Dataframe
* remove duplicate data on Pandas Dataframe
* save them to MySQL

In [2]:
# load all libraries
import mysql.connector
import pandas as pd
import sqlalchemy
import glob
import os

In [3]:
# prepare dataset
%cp /home/agusk/py-etl/datasets/case1/*.csv /home/agusk/py-etl/target/
%ls /home/agusk/py-etl/target/

adv1.csv  adv2.csv  adv3.csv  adv4.csv  adv5.csv

In [4]:
# testing

# preparation
target_path = '/home/agusk/py-etl/target'
strconn = 'mysql+mysqlconnector://agusk:4KuR!N1+wan#1@localhost:3306/pydb'
target_tablename = 'adv'

# connect to targeted database
engine = sqlalchemy.create_engine(strconn)

# read files
files = glob.glob(target_path + '/*.csv')

# process
final_df = None
for file in files:
    df=pd.read_csv(file, sep=',') 
    if final_df is None:
        final_df = df
    else:
        final_df = pd.concat([final_df, df], axis=0)    
    # remove file
    os.remove(file)
    
    
if final_df is not None:  
    # remove duplicate data
    final_df.drop_duplicates(keep=False,inplace=True)    
    
    # save into database table
    final_df.to_sql(target_tablename, con=engine,index=False, if_exists='append')

# show data
df = pd.read_sql('SELECT * FROM ' + target_tablename, engine)
df

        TV  Radio  Newspaper  Sales
0     76.4   26.7       22.3   11.8
1    239.8    4.1       36.9   17.3
2     75.3   20.3       32.5   11.3
3     68.4   44.5       35.6   13.6
4    213.5   43.0       33.8   21.7
..     ...    ...        ...    ...
195  290.7    4.1        8.5   17.8
196  266.9   43.8        5.0   25.4
197   74.7   49.4       45.7   14.7
198   43.1   26.7       35.1   10.1
199  228.0   37.7       32.0   21.5

[200 rows x 4 columns]

In [5]:
# clear database table

import mysql.connector
cnx = mysql.connector.connect(user='agusk',
                              password='4KuR!N1+wan#1',
                              host='127.0.0.1',
                              database='pydb')
cursor = cnx.cursor()
cursor.execute("drop table if exists " + target_tablename)
cnx.commit()
print("deleted a table")

deleted a table