#  Source: Email . Target: Database

To read content from email and then store into database table.

## Case Study 3: 
![alt text](case3.jpg "Case 3: Source: Email . Target: Database")


## Solution
We can build a Python program with the following steps
* read emails from server
* convert email content to Pandas Dataframe
* save them to MySQL

In [11]:
!pip3 install imap-tools

Requirement already satisfied: imap-tools in /home/agusk/.local/lib/python3.8/site-packages (0.39.0)

In [12]:
# load all libraries
import mysql.connector
import pandas as pd
import sqlalchemy

import smtplib
from email.mime.text import MIMEText
from imap_tools import MailBox,MailMessage

In [13]:
imap_server = 'mail.ilmudata.id'
smtp_ssl_host = 'mail.ilmudata.id'
smtp_ssl_port = 465
username = 'tester@ilmudata.id'
password = 'E10jXh3Gk.z+'
sender = 'tester@ilmudata.id' 
targets = ['tester@ilmudata.id']

In [14]:
# prepare data

server = smtplib.SMTP_SSL(smtp_ssl_host, smtp_ssl_port)
server.login(username, password)

for i in range(5):    
    msg = MIMEText('This is a content sample on message ' + str(i))
    msg['Subject'] = 'Subject ' + str(i)
    msg['From'] = sender
    msg['To'] = ', '.join(targets)
    
    server.sendmail(sender, targets, msg.as_string())
    print('sent email ' + str(i))

server.quit()

sent email 0
sent email 1
sent email 2
sent email 3
sent email 4

(221, b'sgz9.cloudhost.id closing connection')

In [15]:
# testing

# preparation
strconn = 'mysql+mysqlconnector://agusk:4KuR!N1+wan#1@localhost:3306/pydb'
target_tablename = 'emails'

# connect to targeted database
engine = sqlalchemy.create_engine(strconn)

# retrieve email to pandas
senders = []
receivers = []
subjects = []
body = []
uid = []
mailbox = MailBox(imap_server)
mailbox.login(username, password, initial_folder='INBOX')
for msg in mailbox.fetch():
    uid.append(msg.uid)
    senders.append(msg.from_)
    
    # tuple to string
    rcv = ','.join(str(s) for s in msg.to)
    receivers.append(rcv)
    
    subjects.append(msg.subject)
    body.append(msg.text)
    
# delete email
mailbox.delete(uid)
mailbox.logout()

df = pd.DataFrame({'Sender':senders,
                   'Receiver':receivers,
                   'Subject':subjects,
                   'Body':body
                  })    
df

,Sender,Receiver,Subject,Body
0,tester@ilmudata.id,tester@ilmudata.id,Subject 0,This is a content sample on message 0\r\n
1,tester@ilmudata.id,tester@ilmudata.id,Subject 1,This is a content sample on message 1\r\n
2,tester@ilmudata.id,tester@ilmudata.id,Subject 2,This is a content sample on message 2\r\n
3,tester@ilmudata.id,tester@ilmudata.id,Subject 3,This is a content sample on message 3\r\n
4,tester@ilmudata.id,tester@ilmudata.id,Subject 4,This is a content sample on message 4\r\n

In [16]:
 # save into database table
df.to_sql(target_tablename, con=engine,index=False, if_exists='append')

# show data
df = pd.read_sql('SELECT * FROM ' + target_tablename, engine)
df

,Sender,Receiver,Subject,Body
0,tester@ilmudata.id,tester@ilmudata.id,Subject 0,This is a content sample on message 0\r\n
1,tester@ilmudata.id,tester@ilmudata.id,Subject 1,This is a content sample on message 1\r\n
2,tester@ilmudata.id,tester@ilmudata.id,Subject 2,This is a content sample on message 2\r\n
3,tester@ilmudata.id,tester@ilmudata.id,Subject 3,This is a content sample on message 3\r\n
4,tester@ilmudata.id,tester@ilmudata.id,Subject 4,This is a content sample on message 4\r\n

In [17]:
# clear database table

import mysql.connector
cnx = mysql.connector.connect(user='agusk',
                              password='4KuR!N1+wan#1',
                              host='127.0.0.1',
                              database='pydb')
cursor = cnx.cursor()
cursor.execute("drop table if exists " + target_tablename)
cnx.commit()
print("deleted a table")

deleted a table