## Demo MongoDB

In [1]:
!pip3 install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\camilo ra√∫l\appdata\roaming\python\python39\site-packages (4.2.0)

### CRUD - MongoDB

In [25]:
import pymongo
from datetime import datetime

pymongo.__version__

'4.2.0'

In [26]:
print('connecting to MongoDB server...')
db = pymongo.MongoClient("mongodb://localhost:27017/")

print('connected')

connecting to MongoDB server...
connected

In [27]:
# create database. MongoDB does not create a database until we create content
mydb = db["pydb"]

In [28]:
dbs = db.list_database_names()
dbs

['admin', 'config', 'local', 'pydb']

In [29]:
# create collection ~ table
# a collection is not created until it gets content
colproducts = mydb["products"]

In [30]:
# listing of collections
colls = mydb.list_collection_names()
colls

['products']

In [31]:
def create_data(coll):
    print('inserting data...')
    for i in range(1,5):
        product = {
            "name": "product " + str(i),
            "code": "F2" + str(i),
            "price": i*0.21,
            "quantity": i + 5,
            "created": datetime.now()
        }       
        item = coll.insert_one(product)
        inserted_id = item.inserted_id
        print('inserted with id=',inserted_id)

    print('done')

In [32]:
create_data(colproducts)

inserting data...
inserted with id= 6334aec3bcc841c31b475acd
inserted with id= 6334aec3bcc841c31b475ace
inserted with id= 6334aec3bcc841c31b475acf
inserted with id= 6334aec3bcc841c31b475ad0
done

In [33]:
# insert multiple data
products = [
    {"name": "product 100","code": "F51","price": 2.5,"quantity": 10,"created": datetime.now()},
    {"name": "product 101","code": "F52","price": 3.5,"quantity": 12,"created": datetime.now()},
    {"name": "product 102","code": "F53","price": 4.5,"quantity": 14,"created": datetime.now()},
    {"name": "product 103","code": "F54","price": 5.5,"quantity": 16,"created": datetime.now()},
    {"name": "product 104","code": "F55","price": 6.5,"quantity": 18,"created": datetime.now()},
]

items = colproducts.insert_many(products)
print(items.inserted_ids)

[ObjectId('6334aec5bcc841c31b475ad1'), ObjectId('6334aec5bcc841c31b475ad2'), ObjectId('6334aec5bcc841c31b475ad3'), ObjectId('6334aec5bcc841c31b475ad4'), ObjectId('6334aec5bcc841c31b475ad5')]

In [34]:
def read_data(coll):
    print('reading data....')
    selected_id = None
    for item in coll.find():
        print("{}, {}, {}, {}, {}, {:%d %b %Y %H:%M:%S}".format(
                item['_id'], item['name'], item['code'], item['price'], item['quantity'], item['created']))
        if selected_id is None:
            selected_id = item['_id']

    print('done')
    return selected_id

In [35]:
selected_id = read_data(colproducts)

reading data....
6334aec3bcc841c31b475acd, product 1, F21, 0.21, 6, 28 Sep 2022 17:29:55
6334aec3bcc841c31b475ace, product 2, F22, 0.42, 7, 28 Sep 2022 17:29:55
6334aec3bcc841c31b475acf, product 3, F23, 0.63, 8, 28 Sep 2022 17:29:55
6334aec3bcc841c31b475ad0, product 4, F24, 0.84, 9, 28 Sep 2022 17:29:55
6334aec5bcc841c31b475ad1, product 100, F51, 2.5, 10, 28 Sep 2022 17:29:57
6334aec5bcc841c31b475ad2, product 101, F52, 3.5, 12, 28 Sep 2022 17:29:57
6334aec5bcc841c31b475ad3, product 102, F53, 4.5, 14, 28 Sep 2022 17:29:57
6334aec5bcc841c31b475ad4, product 103, F54, 5.5, 16, 28 Sep 2022 17:29:57
6334aec5bcc841c31b475ad5, product 104, F55, 6.5, 18, 28 Sep 2022 17:29:57
done

In [36]:
selected_id

ObjectId('6334aec3bcc841c31b475acd')

In [14]:
def update_data(coll, id):
    print('updating data with idproduct=', id, '...')
    updated_data = {
        "price": "9.99",
        "quantity": 100
    }
    coll.update_one({"_id":id},{"$set":updated_data})    
    print('done')

In [15]:
update_data(colproducts, selected_id)

updating data with idproduct= 6334ae97bcc841c31b475ac3 ...
done

In [16]:
read_data(colproducts)

reading data....
6334ae97bcc841c31b475ac3, product 1, F21, 9.99, 100, 28 Sep 2022 17:29:11
6334ae97bcc841c31b475ac4, product 2, F22, 0.42, 7, 28 Sep 2022 17:29:11
6334ae97bcc841c31b475ac5, product 3, F23, 0.63, 8, 28 Sep 2022 17:29:11
6334ae97bcc841c31b475ac6, product 4, F24, 0.84, 9, 28 Sep 2022 17:29:11
6334ae98bcc841c31b475ac7, product 100, F51, 2.5, 10, 28 Sep 2022 17:29:12
6334ae98bcc841c31b475ac8, product 101, F52, 3.5, 12, 28 Sep 2022 17:29:12
6334ae98bcc841c31b475ac9, product 102, F53, 4.5, 14, 28 Sep 2022 17:29:12
6334ae98bcc841c31b475aca, product 103, F54, 5.5, 16, 28 Sep 2022 17:29:12
6334ae98bcc841c31b475acb, product 104, F55, 6.5, 18, 28 Sep 2022 17:29:12
done

ObjectId('6334ae97bcc841c31b475ac3')

In [17]:
def delete_data(coll, id):
    print('deleting data on idproduct=', id, '...')
    coll.delete_one({"_id":id})    
    print('done')

In [18]:
delete_data(colproducts, selected_id)

deleting data on idproduct= 6334ae97bcc841c31b475ac3 ...
done

In [19]:
read_data(colproducts)

reading data....
6334ae97bcc841c31b475ac4, product 2, F22, 0.42, 7, 28 Sep 2022 17:29:11
6334ae97bcc841c31b475ac5, product 3, F23, 0.63, 8, 28 Sep 2022 17:29:11
6334ae97bcc841c31b475ac6, product 4, F24, 0.84, 9, 28 Sep 2022 17:29:11
6334ae98bcc841c31b475ac7, product 100, F51, 2.5, 10, 28 Sep 2022 17:29:12
6334ae98bcc841c31b475ac8, product 101, F52, 3.5, 12, 28 Sep 2022 17:29:12
6334ae98bcc841c31b475ac9, product 102, F53, 4.5, 14, 28 Sep 2022 17:29:12
6334ae98bcc841c31b475aca, product 103, F54, 5.5, 16, 28 Sep 2022 17:29:12
6334ae98bcc841c31b475acb, product 104, F55, 6.5, 18, 28 Sep 2022 17:29:12
done

ObjectId('6334ae97bcc841c31b475ac4')

In [20]:
def delete_all(coll):
    print('deleting all data....')
    items = coll.delete_many({})
    print(items.deleted_count, " documents deleted.")
    print('done')

In [21]:
delete_all(colproducts)

deleting all data....
8  documents deleted.
done

In [22]:
read_data(colproducts)

reading data....
done

In [23]:
db.close()
print('closed connection')

closed connection

## MongoDB - Pandas


sqlalchemy does not support for NoSQL like MongoDB

In [37]:
# load MongoDB table to pandas
import pandas as pd

products = colproducts.find()
df = pd.DataFrame(list(products))
df

,_id,name,code,price,quantity,created
0,6334aec3bcc841c31b475acd,product 1,F21,0.21,6,2022-09-28 17:29:55.640
1,6334aec3bcc841c31b475ace,product 2,F22,0.42,7,2022-09-28 17:29:55.642
2,6334aec3bcc841c31b475acf,product 3,F23,0.63,8,2022-09-28 17:29:55.644
3,6334aec3bcc841c31b475ad0,product 4,F24,0.84,9,2022-09-28 17:29:55.645
4,6334aec5bcc841c31b475ad1,product 100,F51,2.50,10,2022-09-28 17:29:57.831
5,6334aec5bcc841c31b475ad2,product 101,F52,3.50,12,2022-09-28 17:29:57.832
6,6334aec5bcc841c31b475ad3,product 102,F53,4.50,14,2022-09-28 17:29:57.832
7,6334aec5bcc841c31b475ad4,product 103,F54,5.50,16,2022-09-28 17:29:57.832
8,6334aec5bcc841c31b475ad5,product 104,F55,6.50,18,2022-09-28 17:29:57.832

In [38]:
# load dataframe
products = {'name': ['Product A1', 'Product A2', 'Product A3'],           
            'code': ['E01', 'E02', 'E03'],
            'price': [2.1, 3.6, 3.5],
            'quantity': [5, 7, 3],
            'created': ['2020-10-18 20:12:21', '2020-10-18 20:12:21', '2020-10-18 20:12:21']
           }

dataFrame   = pd.DataFrame(data=products) 
dataFrame

         name code  price  quantity              created
0  Product A1  E01    2.1         5  2020-10-18 20:12:21
1  Product A2  E02    3.6         7  2020-10-18 20:12:21
2  Product A3  E03    3.5         3  2020-10-18 20:12:21

In [39]:
# insert dataframe to mongodb
colexproducts = mydb["exproducts"]
data = dataFrame.to_dict(orient='records') 
colexproducts.insert_many(data)

In [40]:
exproducts = colexproducts.find()
df = pd.DataFrame(list(exproducts))
df

,_id,name,code,price,quantity,created
0,6334aed3bcc841c31b475ad6,Product A1,E01,2.1,5,2020-10-18 20:12:21
1,6334aed3bcc841c31b475ad7,Product A2,E02,3.6,7,2020-10-18 20:12:21
2,6334aed3bcc841c31b475ad8,Product A3,E03,3.5,3,2020-10-18 20:12:21

## Drop Collections

In [41]:
# Delete collections
colproducts.drop()
colexproducts.drop()
print('done')

done

In [42]:
db.close()
print('closed connection')

closed connection