In [3]:
import os

items = os.listdir()
items

['.ipynb_checkpoints', 'datasets', 'Section 2 - Files.ipynb']

In [8]:
items = os.listdir('C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets')
items

['advertising.csv',
 'advertising.txt',
 'advertising.xlsx',
 'Boston.csv',
 'employees.json',
 'employees.txt',
 'employees.xml',
 'iris.csv',
 'new-advertising',
 'new-advertising.csv',
 'new-advertising.json',
 'new-advertising.xlsx',
 'new-employees.json',
 'new-employees.xml',
 'new-employees1.json']

In [7]:
#get all files and directories with full path

mypath= 'C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python'
items = [os.path.join(mypath,f) for f in os.listdir(mypath)]
items

#os.path.join(path, *paths)
# Join one or more path components intelligently. The return value is the concatenation of path
# and any members of *paths with exactly one directory separator following each non-empty part except 
# the last, meaning that the result will only end in a separator if the last part is empty. If a component 
# is an absolute path, all previous components are thrown away and joining continues from the absolute path component.

['C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python\\.ipynb_checkpoints',
 'C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python\\datasets',
 'C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python\\Section 2 - Files.ipynb',
 'C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python\\Section+2+-+Files .zip']

In [12]:
#get only files from a directory (path.isfile)
import os
from os import path

mypath = 'C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python'
files = [f for f in os.listdir(mypath) if path.isfile(path.join(mypath,f))]
files

['Section 2 - Files.ipynb', 'Section+2+-+Files .zip']

In [18]:
#get only directories from a directory (path.isdir)
import os
from os import path

mypath = 'C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python'
files = [f for f in os.listdir(mypath) if path.isdir(path.join(mypath,f))]
files

['.ipynb_checkpoints', 'datasets']

In [22]:
#get files with wildcards
# https://docs.python.org/3/library/glob.html
import glob
lists = glob.glob('C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/*.csv')
lists

# glob.glob(pathname, *, root_dir=None, dir_fd=None, recursive=False)
# Return a possibly empty list of path names that match pathname, which must be a string containing a 
# path specification. pathname can be either absolute (like /usr/src/Python-1.5/Makefile) or relative 
# (like ../../Tools/*/*.gif), and can contain shell-style wildcards. Broken symlinks are included in the results 
# (as in the shell). Whether or not the results are sorted depends on the file system. If a file that satisfies 
# conditions is removed or added during the call of this function, whether a path name for that file be included is 
# unspecified.

['C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets\\advertising.csv',
 'C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets\\Boston.csv',
 'C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets\\iris.csv',
 'C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets\\new-advertising.csv']

In [36]:
import os
import shutil

def listing(mypath):
    items = [os.path.join(mypath,f) for f in os.listdir(mypath)]
    for item in items:
        print(item)
        
#create a folder
print('create a folder')
dir_path ='C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder'
if not os.path.exists(dir_path):
    os.makedirs(dir_path)
    
listing('C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/')   
print()

#copy file
print('copy file')
source = 'C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/advertising.txt'
destination = 'C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder'
shutil.copy(source,destination)
listing('C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder')
print()

#rename file
print('rename file')
os.rename('C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder/advertising.txt', 'C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder/advertising2.txt')
listing('C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder')
print()

#move file
print('move file')
shutil.move('C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder/advertising2.txt','C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder/advertising5.txt')
listing('C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder')
print()

#delete a file
print('delete a file')
os.remove('C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder/advertising5.txt')
listing('C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder')

#delete folder
print('delete folder')
shutil.rmtree(dir_path)
listing('C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/')

create a folder
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/advertising.csv
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/advertising.txt
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/advertising.xlsx
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/Boston.csv
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/employees.json
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/employees.txt
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/employees.xml
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/iris.csv
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-advertising
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-advertising.csv
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-advertising.json
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-advertising.xlsx
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-employees.json
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-employees.xml
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-employees1.json
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder

copy file
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder\advertising.txt

rename file
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder\advertising2.txt

move file
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/newfolder\advertising5.txt

delete a file
delete folder
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/advertising.csv
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/advertising.txt
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/advertising.xlsx
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/Boston.csv
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/employees.json
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/employees.txt
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/employees.xml
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/iris.csv
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-advertising
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-advertising.csv
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-advertising.json
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-advertising.xlsx
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-employees.json
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-employees.xml
C:/Users/Camilo Raúl/Desktop/Essential Data Science Datavase and ETL whith python/datasets/new-employees1.json

2. Text File

In [37]:
import pandas as pd
import numpy as np

In [38]:
pd.__version__, np.__version__

('1.4.2', '1.21.5')

In [47]:
#reading .txt file

# reading .txt file
df=pd.read_csv('datasets/advertising.txt', sep=',')
df
#pandas.read_csv
# sepstr, default ‘,’
# Delimiter to use. If sep is None, the C engine cannot automatically detect the separator,
# but the Python parsing engine can, meaning the latter will be used and automatically detect 
# the separator by Python’s builtin sniffer tool, csv.Sniffer. In addition, separators longer than 1 character 
# and different from '\s+' will be interpreted as regular expressions and will also force the use of the 
# Python parsing engine. Note that regex delimiters are prone to ignoring quoted data. Regex example: '\r\t'.

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [48]:
# writing a txt file
data = {'Gender': ['F', 'M', 'F'],
        'ID': ['A01', 'A02', 'A03'],
        'Age': [30, 26, 22]}


df = pd.DataFrame(data, columns=['ID','Gender', 'Age'])
df

    ID Gender  Age
0  A01      F   30
1  A02      M   26
2  A03      F   22

In [49]:
df.to_csv('datasets/employees.txt', sep='\t', index=False)

CSV Files

In [50]:
#reading .csv file
df=pd.read_csv('datasets/advertising.csv',sep=',')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [51]:
#writing .csv file
df.to_csv('datasets/new-advertising.csv',',',index = False)

Excel File

In [55]:
#pip install xlrd
#!pip3 install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [56]:
#reading Excel
df=pd.read_excel('datasets/advertising.xlsx','advertising')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [57]:
# writing to excel file
df.to_excel('datasets/new-advertising.xlsx',sheet_name='MySheet', index = False)
# check
df=pd.read_excel('datasets/new-advertising.xlsx','MySheet')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

 4. JSON

In [58]:
#reading json file
df=pd.read_json('datasets/employees.json')
df

   id          name                 email  age gender
0   1   Emaployee 1   employee1@email.com   30      F
1   2   Emaployee 2   employee2@email.com   22      F
2   3   Emaployee 3   employee3@email.com   27      F
3   4   Emaployee 4   employee4@email.com   25      M
4   5   Emaployee 5   employee5@email.com   32      M
5   6   Emaployee 6   employee6@email.com   24      F
6   7   Emaployee 7   employee7@email.com   19      M
7   8   Emaployee 8   employee8@email.com   35      F
8   9   Emaployee 9   employee9@email.com   30      M
9  10  Emaployee 10  employee10@email.com   23      F

In [59]:
# writing dat to json file
df.to_json('datasets/new-employees.json')

# check
f = open('datasets/new-employees.json', 'r')
print(f.read())

{"id":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9,"9":10},"name":{"0":"Emaployee 1","1":"Emaployee 2","2":"Emaployee 3","3":"Emaployee 4","4":"Emaployee 5","5":"Emaployee 6","6":"Emaployee 7","7":"Emaployee 8","8":"Emaployee 9","9":"Emaployee 10"},"email":{"0":"employee1@email.com","1":"employee2@email.com","2":"employee3@email.com","3":"employee4@email.com","4":"employee5@email.com","5":"employee6@email.com","6":"employee7@email.com","7":"employee8@email.com","8":"employee9@email.com","9":"employee10@email.com"},"age":{"0":30,"1":22,"2":27,"3":25,"4":32,"5":24,"6":19,"7":35,"8":30,"9":23},"gender":{"0":"F","1":"F","2":"F","3":"M","4":"M","5":"F","6":"M","7":"F","8":"M","9":"F"}}

In [60]:
# writing dat to json file
df.to_json('datasets/new-employees1.json',orient='records')
# to change the orientation the clumns
# check
f = open('datasets/new-employees1.json', 'r')
print(f.read())

[{"id":1,"name":"Emaployee 1","email":"employee1@email.com","age":30,"gender":"F"},{"id":2,"name":"Emaployee 2","email":"employee2@email.com","age":22,"gender":"F"},{"id":3,"name":"Emaployee 3","email":"employee3@email.com","age":27,"gender":"F"},{"id":4,"name":"Emaployee 4","email":"employee4@email.com","age":25,"gender":"M"},{"id":5,"name":"Emaployee 5","email":"employee5@email.com","age":32,"gender":"M"},{"id":6,"name":"Emaployee 6","email":"employee6@email.com","age":24,"gender":"F"},{"id":7,"name":"Emaployee 7","email":"employee7@email.com","age":19,"gender":"M"},{"id":8,"name":"Emaployee 8","email":"employee8@email.com","age":35,"gender":"F"},{"id":9,"name":"Emaployee 9","email":"employee9@email.com","age":30,"gender":"M"},{"id":10,"name":"Emaployee 10","email":"employee10@email.com","age":23,"gender":"F"}]

##XML

In [61]:
f = open('datasets/employees.xml', 'r')
print(f.read())

<?xml version="1.0" encoding="UTF-8"?>
<employees>
   <employee>
      <age>30</age>
      <email>employee1@email.com</email>
      <gender>F</gender>
      <id>1</id>
      <name>Emaployee 1</name>
   </employee>
   <employee>
      <age>22</age>
      <email>employee2@email.com</email>
      <gender>F</gender>
      <id>2</id>
      <name>Emaployee 2</name>
   </employee>
   <employee>
      <age>27</age>
      <email>employee3@email.com</email>
      <gender>F</gender>
      <id>3</id>
      <name>Emaployee 3</name>
   </employee>
   <employee>
      <age>25</age>
      <email>employee4@email.com</email>
      <gender>M</gender>
      <id>4</id>
      <name>Emaployee 4</name>
   </employee>
   <employee>
      <age>32</age>
      <email>employee5@email.com</email>
      <gender>M</gender>
      <id>5</id>
      <name>Emaployee 5</name>
   </employee>
   <employee>
      <age>24</age>
      <email>employee6@email.com</email>
      <gender>F</gender>
      <id>6</id>
      <name>Emaployee 6</name>
   </employee>
   <employee>
      <age>19</age>
      <email>employee7@email.com</email>
      <gender>M</gender>
      <id>7</id>
      <name>Emaployee 7</name>
   </employee>
   <employee>
      <age>35</age>
      <email>employee8@email.com</email>
      <gender>F</gender>
      <id>8</id>
      <name>Emaployee 8</name>
   </employee>
   <employee>
      <age>30</age>
      <email>employee9@email.com</email>
      <gender>M</gender>
      <id>9</id>
      <name>Emaployee 9</name>
   </employee>
   <employee>
      <age>23</age>
      <email>employee10@email.com</email>
      <gender>F</gender>
      <id>10</id>
      <name>Emaployee 10</name>
   </employee>
</employees>

In [62]:
# reading xml file
import xml.etree.ElementTree as ET
import pandas as pd

# Read file
xml_data = open('datasets/employees.xml', 'r').read()  
# Parse XML
root = ET.XML(xml_data) 

tags = []
columns = []
isread = False
for child in root:
    tag = {}
    for subchild in child: 
        if not isread:
            columns.append(subchild.tag)
        tag[subchild.tag] = subchild.text
    
    if not isread:
        isread = True    
    tags.append(tag)
            
df = pd.DataFrame(tags,columns=columns)
df

  age                 email gender  id          name
0  30   employee1@email.com      F   1   Emaployee 1
1  22   employee2@email.com      F   2   Emaployee 2
2  27   employee3@email.com      F   3   Emaployee 3
3  25   employee4@email.com      M   4   Emaployee 4
4  32   employee5@email.com      M   5   Emaployee 5
5  24   employee6@email.com      F   6   Emaployee 6
6  19   employee7@email.com      M   7   Emaployee 7
7  35   employee8@email.com      F   8   Emaployee 8
8  30   employee9@email.com      M   9   Emaployee 9
9  23  employee10@email.com      F  10  Emaployee 10

In [63]:
#!pip3 install xmlformatter

Defaulting to user installation because normal site-packages is not writeable
Collecting xmlformatter
  Downloading xmlformatter-0.2.4.tar.gz (15 kB)
Building wheels for collected packages: xmlformatter
  Building wheel for xmlformatter (setup.py): started
  Building wheel for xmlformatter (setup.py): finished with status 'done'
  Created wheel for xmlformatter: filename=xmlformatter-0.2.4-py3-none-any.whl size=11184 sha256=0407c185198c467a2ccdcb25ff81e94a42dd89b48b9d03950ccfa4190d53d1bf
  Stored in directory: c:\users\camilo raúl\appdata\local\pip\cache\wheels\04\a8\91\968f94ee530e60899edbb19e03c2afd9e50e8ca60296e7dd06
Successfully built xmlformatter
Installing collected packages: xmlformatter
Successfully installed xmlformatter-0.2.4

  WARNING: The script xmlformat.exe is installed in 'C:\Users\Camilo Raúl\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [64]:
# writing data to XML
import xml.dom.minidom

header = df.columns
# Root element
root = ET.Element('employees')  

for i,row in df.iterrows():
    item = ET.SubElement(root, 'employee')
    for column in df:
        subitem = ET.SubElement(item, column)
        subitem.text = row[column]

xml_data = ET.tostring(root, encoding='unicode', xml_declaration=True)
dom = xml.dom.minidom.parseString(xml_data)
pretty_xml = dom.toprettyxml()

with open('datasets/new-employees.xml', 'w') as f: 
    f.write(pretty_xml)
#     f.write(xml_data)

# check
f = open('datasets/new-employees.xml', 'r')
print(f.read())

<?xml version="1.0" ?>
<employees>
	<employee>
		<age>30</age>
		<email>employee1@email.com</email>
		<gender>F</gender>
		<id>1</id>
		<name>Emaployee 1</name>
	</employee>
	<employee>
		<age>22</age>
		<email>employee2@email.com</email>
		<gender>F</gender>
		<id>2</id>
		<name>Emaployee 2</name>
	</employee>
	<employee>
		<age>27</age>
		<email>employee3@email.com</email>
		<gender>F</gender>
		<id>3</id>
		<name>Emaployee 3</name>
	</employee>
	<employee>
		<age>25</age>
		<email>employee4@email.com</email>
		<gender>M</gender>
		<id>4</id>
		<name>Emaployee 4</name>
	</employee>
	<employee>
		<age>32</age>
		<email>employee5@email.com</email>
		<gender>M</gender>
		<id>5</id>
		<name>Emaployee 5</name>
	</employee>
	<employee>
		<age>24</age>
		<email>employee6@email.com</email>
		<gender>F</gender>
		<id>6</id>
		<name>Emaployee 6</name>
	</employee>
	<employee>
		<age>19</age>
		<email>employee7@email.com</email>
		<gender>M</gender>
		<id>7</id>
		<name>Emaployee 7</name>
	</employee>
	<employee>
		<age>35</age>
		<email>employee8@email.com</email>
		<gender>F</gender>
		<id>8</id>
		<name>Emaployee 8</name>
	</employee>
	<employee>
		<age>30</age>
		<email>employee9@email.com</email>
		<gender>M</gender>
		<id>9</id>
		<name>Emaployee 9</name>
	</employee>
	<employee>
		<age>23</age>
		<email>employee10@email.com</email>
		<gender>F</gender>
		<id>10</id>
		<name>Emaployee 10</name>
	</employee>
</employees>

6. Reading File from Website

In [78]:
# reading csv file from website
df=pd.read_csv('http://dataset.ilmudata.id/advertising.csv', sep=',')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [77]:
# with basic auth
df=pd.read_csv('http://dataset.ilmudata.id/private/advertising.csv', sep=',')
df

HTTPError: HTTP Error 401: Unauthorized

In [76]:
import requests
from requests.auth import HTTPBasicAuth
import pandas as pd
from io import StringIO

# The StringIO module is an in-memory file-like object. 
# This object can be used as input or output to the most function that would expect a 
# standard file object. When the StringIO object is created it is initialized by passing a 
# string to the constructor. If no string is passed the StringIO will start empty. In both cases, 
# the initial cursor on the file starts at zero.

csv = requests.get("http://dataset.ilmudata.id/private/advertising.csv", auth=HTTPBasicAuth("tester", "RsTS)iH+M#sY"))
df = pd.read_csv(StringIO(csv.text))
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

## 7. Reading File from Server-based S3 Protocol

In [69]:
#!pip3 install boto3

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: boto3 in c:\programdata\anaconda3\lib\site-packages (1.21.32)
Requirement already satisfied: botocore<1.25.0,>=1.24.32 in c:\programdata\anaconda3\lib\site-packages (from boto3) (1.24.32)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in c:\programdata\anaconda3\lib\site-packages (from boto3) (0.5.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\programdata\anaconda3\lib\site-packages (from boto3) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\programdata\anaconda3\lib\site-packages (from botocore<1.25.0,>=1.24.32->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\programdata\anaconda3\lib\site-packages (from botocore<1.25.0,>=1.24.32->boto3) (1.26.9)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.25.0,>=1.24.32->boto3) (1.16.0)

In [ ]:
import boto3
from botocore.client import Config
import pandas as pd
from io import BytesIO

s3 = boto3.resource('s3',
                    endpoint_url='http://localhost:9000',
                    aws_access_key_id='minioadmin',
                    aws_secret_access_key='minioadmin',
                    config=Config(signature_version='s3v4'),
                    region_name='us-east-1')


bucket, filename = "ilmudata", "advertising.csv"
obj = s3.Object(bucket, filename)
with BytesIO(obj.get()['Body'].read()) as content:
    df = pd.read_csv(content)
    
df