In [ ]:
#!pip3 install pyodbc

## CRUD - SQL Server

In [100]:
import pyodbc
from datetime import datetime

In [101]:
# ODBC driver
# https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver15#ubuntu17

server = 'DESKTOP-MVMR6TJ' 
database = 'pydb' 
username = 'sa' 
password = '1234567' 

def open_database():
    print('Connecting to SQL Server with ODBC driver')
    connection_string = 'DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password
    cnxn = pyodbc.connect(connection_string)
    print('connected')

    return cnxn

In [102]:
cnx = open_database()

Connecting to SQL Server with ODBC driver
connected

In [103]:
def create_table(conn):
    cursor = conn.cursor()
    print('create table...')
    
    sql = """CREATE TABLE product (     
            id int IDENTITY(1,1) PRIMARY KEY,
            name varchar(45) NOT NULL,
            code varchar(10) NOT NULL,
            price float NOT NULL,
            quantity int NOT NULL,
            created datetime NOT NULL);"""
    
    cursor.execute(sql)
    cursor.close()
    print('done')

In [104]:
create_table(cnx)

create table...
done

In [105]:
def create_data(conn):    
    print('inserting data...')
    cursor = conn.cursor()
    for i in range(1,5):    
        with conn.cursor() as cursor: 
            insert_product = ("INSERT INTO product "
                       "(name, code, price, quantity, created) OUTPUT INSERTED.id "
                       "VALUES (?, ?, ?, ?, getdate())")
            data_product = ("product " + str(i), "F029" + str(i), i*0.21, i,)
            cursor.execute(insert_product, data_product)
            product_id = cursor.fetchone()[0] 
            print('inserted with id=',product_id)  

    conn.commit()      
    print('done')

In [106]:
create_data(cnx)

inserting data...
inserted with id= 1
inserted with id= 2
inserted with id= 3
inserted with id= 4
done

In [107]:
def read_data(conn):
    print('reading data....')
    selected_id = 0
    cursor = conn.cursor()
    query = "SELECT id, name, code, price, quantity, created FROM product"
    cursor.execute(query)
    for (id, name, code, price, quantity, created) in cursor:
        print("{}, {}, {}, {}, {}, {:%d %b %Y %H:%M:%S}".format(
                id, name, code, price, quantity, created))
        if selected_id <= 0:
            selected_id = id

    cursor.close()
    print('done')

    return selected_id

In [108]:
selected_id = read_data(cnx)

reading data....
1, product 1, F0291, 0.21, 1, 28 Sep 2022 16:02:11
2, product 2, F0292, 0.42, 2, 28 Sep 2022 16:02:11
3, product 3, F0293, 0.63, 3, 28 Sep 2022 16:02:11
4, product 4, F0294, 0.84, 4, 28 Sep 2022 16:02:11
done

In [ ]:
def update_data(conn, id):
    print('updating data with idproduct=', id, '...')
    cursor = conn.cursor()
    query = "UPDATE product SET name=?, code=?, price=?, quantity=?, created=? where id=?"
    name = 'updated-name'
    code = 'F9999'
    price = 0.99
    quantity = 10
    created = datetime.now()
    cursor.execute(query, (name, code, price, quantity, created, id))
    cursor.close()
    print('done')

In [ ]:
update_data(cnx, selected_id)

In [ ]:
read_data(cnx)

In [ ]:
def delete_data(conn, id):
    print('deleting data on idproduct=', id, '...')
    cursor = conn.cursor()
    query = "DELETE FROM product where id = ? "
    cursor.execute(query, (id,))
    conn.commit()
    cursor.close()
    print('done')

In [ ]:
delete_data(cnx, selected_id)

In [ ]:
read_data(cnx)

In [ ]:
def delete_all(conn):
    print('deleting all data....')
    cursor = conn.cursor()
    query = "DELETE FROM product"
    cursor.execute(query)
    conn.commit()
    cursor.close()
    print('done')

In [ ]:
delete_all(cnx)

In [ ]:
read_data(cnx)

In [33]:
cnx.close()
print('closed connection')

closed connection

## SQL Server - Pandas

In [35]:
#!pip3 install sqlalchemy

In [110]:
# load MySQL table to pandas
import pandas as pd

df = pd.read_sql_query("select * from product", cnx)
df

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   id       name   code  price  quantity                 created
0   1  product 1  F0291   0.21         1 2022-09-28 16:02:11.910
1   2  product 2  F0292   0.42         2 2022-09-28 16:02:11.910
2   3  product 3  F0293   0.63         3 2022-09-28 16:02:11.913
3   4  product 4  F0294   0.84         4 2022-09-28 16:02:11.913

In [111]:
import pandas as pd
import sqlalchemy

# Create the engine to connect to the SQL Server database
strconn = 'mssql+pyodbc://sa:1234567@DESKTOP-MVMR6TJ:1433/pydb?driver=ODBC+Driver+17+for+SQL+Server'
engine = sqlalchemy.create_engine(strconn)

In [112]:
products = {'name': ['Product A1', 'Product A2', 'Product A3'],           
            'code': ['E01', 'E02', 'E03'],
            'price': [2.1, 3.6, 3.5],
            'quantity': [5, 7, 3],
            'created': ['2020-10-18 20:12:21', '2020-10-18 20:12:21', '2020-10-18 20:12:21']
           }

dataFrame   = pd.DataFrame(data=products) 
dataFrame

         name code  price  quantity              created
0  Product A1  E01    2.1         5  2020-10-18 20:12:21
1  Product A2  E02    3.6         7  2020-10-18 20:12:21
2  Product A3  E03    3.5         3  2020-10-18 20:12:21

In [113]:
tableName = 'exproduct'
dataFrame.to_sql(tableName, con=engine,index=False, if_exists='append')

-1

In [114]:
df = pd.read_sql('SELECT * FROM exproduct', engine)
df

         name code  price  quantity              created
0  Product A1  E01    2.1         5  2020-10-18 20:12:21
1  Product A2  E02    3.6         7  2020-10-18 20:12:21
2  Product A3  E03    3.5         3  2020-10-18 20:12:21

## Drop Table

In [115]:
# Delete table
cursor = cnx.cursor()
cursor.execute("drop table if exists product ")
cnx.commit()
cursor.execute("drop table if exists exproduct ")
cnx.commit()

In [116]:
cnx.close()
print('closed connection')

closed connection